<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date('2013-01-01'), 'YYYY') %> <%= config.author || config.title %><br>
      <span id="sum_counter"></span>
      <span id="detail_counter"></span>
    </div>
  </div>
</footer>
